@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Lato:wght@300&family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Lato:wght@300&family=Poppins:wght@200;300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Lato:wght@300&family=Poppins:wght@200;300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Mochiy+Pop+One&display=swap');

.section-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left-side{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 10%;
}
.left-side h1{
    letter-spacing: 1vw;
    font-size: 2.2vw;
    font-family: 'Abril Fatface', cursive;
    /* background: white; */
    padding: .5vw;
    color: white;
    margin-left: 2vw;
    margin-top: 4vh;
    font-weight: bold;
    z-index: 2;
}
.text{
    z-index: 3;
    color: white;
}
.text h2{
    font-size: 5vw;
    margin-left: 3vw;
    margin-top: 10vh;
    margin-bottom: 3vh;
    font-weight: bold;
}
.text-overlay{
    background-color: gray;
}
.video-container video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}
.color-overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(199, 243, 243);
    opacity: 20%;
}
.text p{
    font-size: 1.2vw;
    font-family: 'Rubik', sans-serif;
    width: 30vw;
    margin-left: 3vw;
}
.dropdown{
    z-index: 4;
    font-size: 2vw;
    margin-right: 0vw;
    margin-left: 1.3vw;
    margin-top: 2.5vh;
}
.btn{
    position: fixed;
    margin-right: 1vw;
    width: 6vw;
    height: 8vh;
    z-index: 4;
}
.btn i{
    font-size: 2vw;
}
.btn:hover{
    color: red;
}
.fact-container{
    width: 100%;
    height: 210vh;
    background-size:cover ;
    z-index: 1;
    
    
    
   /* background-color: lightgrey; */   
}
.fact-container h3{
    font-size: 2.8vw;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    padding-top: 2vh;
    margin-top: 12vh;
    margin-bottom: 8vh;
    margin-left: 30vw;
    letter-spacing: .2vw;
}
.row{
    width: 100%;
    z-index: 2;
}
.row .card{
    z-index: 2;
    height: 90vh;
    width: 42vw;
    margin-left: 4vw;
    justify-content: left;
    background-color: rgb(136, 200, 221);
    border-bottom-left-radius: 2vw;
    border: 1px black solid;
    opacity: 93%;
    /* box-shadow: rgb(209, 206, 206) 1px 0px 8px 2px; */
}
.card-body{
    text-align: center;
}
.card-body h5{
    font-size: 1.7vw;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .1vw;
}
.card-body p{
    font-size: 1.2vw;
}
.quote-container{
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: 10vh;
    text-align: center;
    
}
.quote-container .color-overlay{
    background-color: rgb(158, 150, 150);
    height: 41vh;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.quote-container p{
    padding-top: 13vh;
    color: black;
    padding-left: 2vw;
    font-size: 3vw;
    font-family: 'Abril Fatface', cursive;
}

.footer-container{
    margin-top: 5vh;
    display: flex;
    height: 30vh;
    width: 100%;
    flex-direction: column;
}
.footer-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 206, 206);
    height: 25vw;
    width: 100%;
    /* align-items: center; */
}
.footer-container p{
    margin-top: 5vh;
    margin-left: 7vw;
    font-size: 2vw;
}
.footer-content input{
    width: 40vw;
    height: 7vh;
    font-size: 1.3vw;
    border: none;
    margin-left: 7vw;
    margin-top: 3vh;
    padding-left: 1vw;
}
.footer-content .btn-primary{
    margin-left: 2vw;
    width: 13vw;
    height: 10vh;
    font-size: 1.7vw;
}
.footer-content .btn-danger{
    margin-left: 14vw;
    width: 13vw;
    height: 10vh;
    font-size: 1.7vw;
}
.footer-content .icon ul li {
    list-style-type: none;
    padding-left:2vw;
    padding-right: 2vw;
}
.footer-content .icon ul{
    display: flex;
    flex-direction: row;
}
.info ul li:hover{
    color: crimson;
    font-weight: bold;
}
.icon{
    margin-top: 8.5vh;
    margin-left: 31vw;
}
.icon ul li i{
    font-size: 3.5vw;
}
.icon ul li i:hover{
    color: crimson;
}
.footer-content h5{
    font-size: 1vw;
    margin-left: 40vw;
}